/*-- *{ 
    font-family: 'Courier New', Courier, monospace;
} 
{} */
:root{
    --title: 'Courier New' ;
    --subtitle: Courier ;
    --color-primary: blue ;
    --color-secondary: orange ;
    --color-terciary: green ;
    --size-xl: 30px ;
    --size-s: 10px ;
    --size-m: 20px ;
}

.title{
    font-family: var(--title);
    color:var(--color-primary);
}

.subtitle{
    font-family: var(--subtitle) ;
    color: var(--color-secondary) ;
}

header{
    width: 100vw; 
    /* background-color: var(--color-terciary); */
}

aside{
    width: 25% ;
    /* background-color: var(--color-primary);*/
}

main{
    width: 75% ;
}

footer{
    width: 100vw;
}

#menu{
    margin: auto;
    padding: 20;
    width: 320px;
    background-color: var(--color-terciary);
}

#menu ol{
    margin: none;
    padding: 0;
}